[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pycodestyle = "*"
pylint = "*"
flake8 = "*"
mock = "*"
coverage = "*"
Flask-Testing = "*"
isort = "*"
ipdb = "*"
ipython = "*"
mypy = "*"
docker-compose = "*"
types-redis = "*"
types-requests = "*"
types-python-dateutil = "*"
types-mock = "*"
SQLAlchemy = {extras = ["mypy"]}
black = "*"
pytest = "*"
pytest-cov = "*"

[packages]
alembic = "==1.*"
"beautifulsoup4" = "==4.*"
blinker = "==1.*"
celery = "==5.*"
feedparser = "==6.*"
Flask = "==2.*"
Flask-Migrate = "==2.*"
flask-restx = "==0.5.*"
flask-jwt-extended = "==4.*"
goose3 = "==3.*"
gunicorn = "==20.*"
json-logging-py = "*"  # needed by gunicorn config
lxml = "==4.*"
opml = "==0.*"
prometheus-distributed-client = "==1.*"
python-dateutil = "*"
rauth = "==0.7.3"
redis = "==4.*"
requests = "==2.*"
SQLAlchemy = "==2.*"
the-conf = "==0.*"
flask-cors = "==3.*"
psycopg2-binary = "==2.*"
werkzeug = "==2.1.2"  # fixing for bug with last flask version
advocate = "1.*"

[requires]
python_version = "3.10"
