[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pycodestyle = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
Flask-Testing = "*"
isort = "*"
ipdb = "*"
ipython = "*"
mypy = "*"
types-redis = "*"
types-requests = "*"
types-python-dateutil = "*"
types-mock = "*"
SQLAlchemy = {extras = ["mypy"]}
black = "*"
pytest = "*"
pytest-cov = "*"

[packages]
advocate = "==1.*"
alembic = "==1.*"
"beautifulsoup4" = "*"
blinker = "*"
celery = "==5.*"
feedparser = "*"
flask = "==3.*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-restx = "==1.*"
goose3 = "*"
gunicorn = "*"
json-logging-py = "*"  # needed by gunicorn config
opml = "==0.*"
prometheus-client = "*"
psycopg2-binary = "*"
python-dateutil = "*"
rauth = "==0.7.3"
redis = "==5.*"
requests = "*"
SQLAlchemy = "==2.*"
the-conf = "*"
pyjwt = "<=2.9.0"

[requires]
python_version = "3.13"
