[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pycodestyle = "*"
pylint = "*"
flake8 = "*"
nose = "*"
mock = "*"
coverage = "*"
Flask-Testing = "*"
isort = "*"
ipdb = "*"
ipython = "*"
mypy = "*"
docker-compose = "*"
types-redis = "*"
types-requests = "*"
types-python-dateutil = "*"
types-mock = "*"
sqlalchemy-stubs = "*"
SQLAlchemy = {extras = ["mypy"]}

[packages]
alembic = "==1.*"
"beautifulsoup4" = "==4.*"
blinker = "==1.4.*"
celery = "==5.*"
feedparser = "==6.0.2"
json-logging-py = "==0.2"
Flask = "==2.0.*"
Flask-Migrate = "==2.*"
flask-restx = "==0.5.*"
flask-jwt = "==0.*"
goose3 = "==3.*"
gunicorn = "==20.*"
lxml = "==4.*"
opml = "==0.*"
prometheus-client = "==0.7.1"
prometheus-distributed-client = "==1.2.1"
"psycopg2" = "*"
python-dateutil = "*"
rauth = "==0.7.3"
redis = "==2.*"
requests = "==2.*"
SQLAlchemy = "==1.4.*"
the-conf = "==0.*"
flask-cors = "==3.*"

[requires]
python_version = "3.9"
