aiohttp==0.22.5
alembic==0.8.7
beautifulsoup4==4.5.1
feedparser==5.2.1
Flask==0.11.1
Flask-Babel==0.11.1
Flask-Login==0.3.2
Flask-Migrate==2.0.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-SSLify==0.1.5
Flask-WTF==0.12
lxml==3.6.4
opml==0.5
python-dateutil==2.5.3
python-postmark==0.4.9
rauth==0.7.2
requests==2.11.1
requests-futures==0.9.7
SQLAlchemy==1.0.15
