alembic==0.9.3
beautifulsoup4==4.6.0
blinker>=1.4.0
feedparser==5.2.1
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-Migrate==2.1.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
Jinja2==2.9.6
lxml==3.8.0
nltk==3.2.4
numpy==1.13.1
opml==0.5
python-dateutil==2.6.1
python-postmark==0.4.12
pytz==2017.2
rauth==0.7.3
requests==2.18.2
SQLAlchemy==1.1.12

click==6.7
itsdangerous==0.24
Werkzeug==0.12.2
