aiohttp==0.21.0
alembic==0.8.4
beautifulsoup4==4.4.1
feedparser==5.2.1
Flask==0.10.1
Flask-Babel==0.9
Flask-Login==0.3.2
Flask-Migrate==1.7.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-SSLify==0.1.5
Flask-WTF==0.12
lxml==3.5.0
opml==0.5
python-dateutil==2.4.2
python-postmark==0.4.7
rauth==0.7.2
requests==2.20.0
requests-futures==0.9.7
SQLAlchemy==1.0.11
WTForms==2.1
