version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  building-and-testing-backend:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: moving test config to default config
          command: |
            rm example_conf/jarr.test.json example_conf/jarr.json
            mv example_conf/jarr.circleci.json example_conf/jarr.json
      - run:
          name: building server image
          command: make build-server
      - run:
          name: building worker image
          command: make build-worker
      - run:
          name: starting test env
          command: |
            docker-compose --file Dockerfiles/circleci-env.yml up -d
            sleep 10s
      - run:
          name: creating postgres user and db
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml
            exec postgresql su postgres -c
            "createuser jarr --no-superuser --createdb --no-createrole; createdb jarr --no-password"
      - run:
          name: creating tables
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml
            exec server bash -c "pipenv run ./manager.py db_create"
      - run:
          name: installing testing dependencies
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml
            exec server bash -c "pipenv sync --dev --bare"
      - run:
          name: running tests
          command: >-
            docker-compose --file dockerfiles/circleci-env.yml
            exec server bash -c
            "pipenv run nosetests tests/ -vv --with-coverage --cover-package=jarr"
      - run:
          name: "linter: pep8"
          command: >-
            docker-compose --file dockerfiles/circleci-env.yml
            exec server bash -c
            "pipenv run pycodestyle --ignore=E126,E127,E128,W503 jarr/ --exclude=jarr/migrations"
      - run:
          name: "linter: mypy"
          command: >-
            docker-compose --file dockerfiles/circleci-env.yml
            exec server bash -c
            "pipenv run mypy jarr --ignore-missing-imports"

workflows:
  jarr-testing:
    jobs:
      - building-and-testing-backend
