version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  backend-build:
    machine:
      image: ubuntu-2404:2024.05.1
    steps:
      - checkout
      - run:
          name: Docker login
          command: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: Building docker backend images
          command: |
            export CACHE_TAG=${CIRCLE_BRANCH}
            export DOCKER_TAG=${CIRCLE_SHA1:0:7}
            make build-base DOCKER_USER=$DOCKER_USER CACHE_TAG=$CACHE_TAG DOCKER_TAG=$DOCKER_TAG
            make build-server DOCKER_USER=$DOCKER_USER CACHE_TAG=$CACHE_TAG DOCKER_TAG=$DOCKER_TAG
            make build-worker DOCKER_USER=$DOCKER_USER CACHE_TAG=$CACHE_TAG DOCKER_TAG=$DOCKER_TAG
      - run:
          name: Push images for use in later jobs
          command: |
            export DOCKER_TAG=${CIRCLE_SHA1:0:7}
            docker push $DOCKER_USER/jarr-base:$DOCKER_TAG
            docker push $DOCKER_USER/jarr-server:$DOCKER_TAG
            docker push $DOCKER_USER/jarr-worker:$DOCKER_TAG

  front-build:
    machine:
      image: ubuntu-2404:2024.05.1
    steps:
      - checkout
      - run:
          name: Docker login
          command: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: Building images for front
          command: |
            export CACHE_TAG=${CIRCLE_BRANCH}
            export DOCKER_TAG=${CIRCLE_SHA1:0:7}
            make build-front DOCKER_USER=$DOCKER_USER CACHE_TAG=$CACHE_TAG DOCKER_TAG=$DOCKER_TAG \
              PUBLIC_URL=https://app.jarr.info REACT_APP_API_URL=https://api.jarr.info
      - run:
          name: Push image for use in later jobs
          command: |
            export DOCKER_TAG=${CIRCLE_SHA1:0:7}
            docker push $DOCKER_USER/jarr-front:$DOCKER_TAG

  backend-test:
    machine:
      image: ubuntu-2404:2024.05.1
    steps:
      - checkout
      - run:
          name: Install make
          command: sudo apt-get update && sudo apt-get install -y make
      - run:
          name: Docker login
          command: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: Pull built images from registry
          command: |
            export DOCKER_TAG=${CIRCLE_SHA1:0:7}
            docker pull $DOCKER_USER/jarr-server:$DOCKER_TAG
            docker pull $DOCKER_USER/jarr-worker:$DOCKER_TAG
            docker tag $DOCKER_USER/jarr-server:$DOCKER_TAG jarr-server
            docker tag $DOCKER_USER/jarr-worker:$DOCKER_TAG jarr-worker
      - run:
          name: Moving test config to default config
          command: |
            mkdir -p ~/coverage_results
            rm example_conf/jarr.test.json example_conf/jarr.json
            mv example_conf/jarr.circleci.json example_conf/jarr.json
      - run:
          name: Starting test environment
          command: |
            make start-env RUN= COMPOSE_FILE=Dockerfiles/circleci-env.yml
            sleep 2
            make db-bootstrap-user RUN= COMPOSE_FILE=Dockerfiles/circleci-env.yml
            make db-bootstrap-tables RUN= COMPOSE_FILE=Dockerfiles/circleci-env.yml
      - run:
          name: Install make in container
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml --project-name=jarr
            exec -u root server bash -c "apt-get update && apt-get install -y make"
      - run:
          name: Bootstraping database
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml --project-name=jarr
            exec server bash -c "make init-env"
      - run:
          name: Installing testing dependencies
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml --project-name=jarr
            exec server bash -c "make install"
      - run:
          name: Running tests
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml --project-name=jarr
            exec server bash -c "make test JARR_CONFIG=example_conf/jarr.json"
      - run:
          name: Uplaoding coverage to codacy
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml --project-name=jarr
            exec -u root server bash -c "chown -R jarr:jarr /jarr/coverage_results";
            docker-compose --file Dockerfiles/circleci-env.yml --project-name=jarr
            exec server bash -c
            "pipenv run coverage xml -o coverage_results/coverage.xml";
            pip install --upgrade codacy-coverage;
            python-codacy-coverage -r ~/coverage_results/coverage.xml
      - run:
          name: Running PEP8 linter
          command: >-
            docker-compose --file Dockerfiles/circleci-env.yml
            --project-name=jarr
            exec server bash -c "make lint"

  push-docker-images:
    machine:
      image: ubuntu-2404:2024.05.1
    environment:
      GIT_TAG: << pipeline.git.tag >>
    steps:
      - run:
          name: Docker login
          command: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run:
          name: Pull built images and push with final tags
          command: |
            export BUILD_TAG=${CIRCLE_SHA1:0:7}
            if [ "$GIT_TAG" != "<nil>" ] && [ "$GIT_TAG" != "" ]; then
              export FINAL_TAG=$GIT_TAG
            else
              export FINAL_TAG=${CIRCLE_BRANCH}
            fi

            # Pull images built in previous jobs
            docker pull $DOCKER_USER/jarr-server:$BUILD_TAG
            docker pull $DOCKER_USER/jarr-worker:$BUILD_TAG
            docker pull $DOCKER_USER/jarr-front:$BUILD_TAG

            # Re-tag and push with final tag
            docker tag $DOCKER_USER/jarr-server:$BUILD_TAG $DOCKER_USER/jarr-server:$FINAL_TAG
            docker tag $DOCKER_USER/jarr-worker:$BUILD_TAG $DOCKER_USER/jarr-worker:$FINAL_TAG
            docker tag $DOCKER_USER/jarr-front:$BUILD_TAG $DOCKER_USER/jarr-front:$FINAL_TAG

            docker push $DOCKER_USER/jarr-server:$FINAL_TAG
            docker push $DOCKER_USER/jarr-worker:$FINAL_TAG
            docker push $DOCKER_USER/jarr-front:$FINAL_TAG

            # Also push as 'latest' if on master branch
            if [ "${CIRCLE_BRANCH}" = "master" ]; then
              docker tag $DOCKER_USER/jarr-server:$BUILD_TAG $DOCKER_USER/jarr-server:latest
              docker tag $DOCKER_USER/jarr-worker:$BUILD_TAG $DOCKER_USER/jarr-worker:latest
              docker tag $DOCKER_USER/jarr-front:$BUILD_TAG $DOCKER_USER/jarr-front:latest

              docker push $DOCKER_USER/jarr-server:latest
              docker push $DOCKER_USER/jarr-worker:latest
              docker push $DOCKER_USER/jarr-front:latest
            fi

workflows:
  jarr-testing:
    jobs:
      - backend-build:
          filters:
            tags:
              only: /.*/
      - front-build:
          filters:
            tags:
              only: /.*/
      - backend-test:
          requires:
            - backend-build
          filters:
            tags:
              only: /.*/
      - push-docker-images:
          requires:
            - backend-test
            - front-build
          filters:
            branches:
              only:
                - master
            tags:
              only: /.*/
