{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{user.login}}</strong>
            {{_("Member since: ")}} {{ user.date_created | datetimeformat }}.
            {{_("Last connection:")}} {{ user.last_connection | datetimeformat }}.
            <a href="{{url_for("user.delete", user_id=user.id)}}" class="btn btn-default pull-right" onclick="return confirm('{{ _('You are going to delete your account.') }}');">{{ _("Delete") }}</a>
            <a href="{{url_for("user.profile", user_id=user.id)}}" class="btn btn-default pull-right">{{ _("Edit") }}</a>
        </div>
        <div class="panel-body">
            {% include "feed_list.html" %}
        </div>
    </div>
</div>
{% endblock %}
