{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="well">
        <h1>{{ _('About') }}</h1>
        <p>
        {{ _("JARR is a news aggregator platform.") }}
        <p>{{ _("This software is under AGPLv3 license. You are welcome to copy, modify or redistribute the %(start_link)ssource code%(end_link)s according to the %(start_link2)sAffero GPL%(end_link2)s licence.", start_link="<a href='https://github.com/jaesivsm/JARR'>", end_link="</a>", start_link2="<a href='https://www.gnu.org/licenses/agpl-3.0.html'>", end_link2="</a>")}}</p>
        <p>{{ _("Found a bug? Please report it %(start_link)sto the bug tracker%(end_link)s.", start_link="<a href='https://github.com/jaesivsm/JARR/issues'>", end_link="</a>")}}</p>
    </div>
    <div class="well">
        <h1>{{ _("Help") }}</h1>
        <p>{{ _("If you have any problem, %(start_link)scontact the administrator%(end_link)s.", start_link="<a href='https://1pxsolidblack.pl/'>", end_link="</a>") }}</p>
        <p>{{ _("You can subscribe to new feeds with a bookmarklet. Drag the following button to your browser bookmarks.") }}</p>
        <a class="btn btn-default" href="javascript:window.location="{{ url_for('feed.bookmarklet', _external=True, url="+encodeURIComponent(document.location)") }}">{{_("Subscribe to this feed using JARR")}}</a>
    </div>
</div><!-- /.container -->
{% endblock %}
