{% if feeds.count() == 0 %}
  <h1>{{_("No feed")}}</h1>
{% else %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Site') }}</th>
                <th>{{ _('Articles') }}</th>
                <th>{{ _('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr {% if not feed.enabled  %}class="warning"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>
                    {% if feed.enabled  %}
                        <i class="glyphicon glyphicon-eye-open" title="{{ _('Feed enabled') }}"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-eye-close" title="{{ _('Feed disabled') }}"></i>
                    {% endif %}
                    {% if feed.error_count >= config.FEED_ERROR_MAX %}
                        <i class="glyphicon glyphicon-exclamation-sign" title="{{ _('Feed encountered too much errors.') }}"></i>
                    {% endif %}
                </td>
                <td><a href="{{ url_for("home", at="f", ai=feed.id) }}" {% if feed.description %}title="{{ feed.description  }}"{% endif %}>
                    {% if feed.icon_url %}<img src="{{ url_for('icon.icon', url=feed.icon_url) }}" width="16px" />{% endif %}
                    {{ feed.title }}
                </a></td>
                <td><a href="{{ feed.site_link }}">{{ feed.site_link }}</a></td>
                <td>( {{ unread_counts.get(feed.id, 0) }} ) {{ counts.get(feed.id, 0) }}</td>
                <td>
                    <a href="{{ url_for("home", at="f", ai=feed.id) }}"><i class="glyphicon glyphicon-th-list" title="{{ _('Articles') }}"></i></a>
                    <a href="{{ url_for("home", at="f", ai=feed.id) }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
