{% extends "anon_layout.html" %}
{% block content %}
<form class="form-signin" action={{url_for("login")}} method="post">
  {{form.hidden_tag()}}
  <label for="inputLogin" class="sr-only">{{_("Login")}}</label>
  {{form.login(class_="form-control", type="text", id="inputLogin", placeholder="Login", required=True, autofocus=True)}}
  {% for error in form.login.errors %}
    <span style="color: red;">{{ error }}<br /></span>
  {% endfor %}

  <label for="inputPassword" class="sr-only">{{_("Password")}}</label>
  {{ form.password(class_="form-control", type="password", id="inputPassword", placeholder="Password", required=True)}}
  {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}<br /></span>
  {% endfor %}

  {{form.submit(class_="btn btn-lg btn-primary btn-block", text=_("Sign in"))}}
</form>
{% if conf.SELF_REGISTRATION %}
<form class="form-signin" action={{url_for("signup")}} method="get">
  <input class="btn btn-lg btn-primary btn-block" value="Sign up" type="submit" />
</form>
{% endif %}
{% endblock %}
