{% extends "anon_layout.html" %}
{% block content %}
<div class="container not-at-home">
{% block messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="form-signin alert alert-{{category}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
</div>

{% if token %}
<form action="{{ url_for("user.recover", token=token) }}" class="form-signin" method="post">
    {{ form.hidden_tag() }}

    {{ form.password.label(class_="sr-only") }}
    {{ form.password(class_="form-control", placeholder=_("New password")) }}
    {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}<br /></span>
    {% endfor %}

    {{ form.password_conf.label(class_="sr-only") }}
    {{ form.password_conf(class_="form-control", placeholder=_("Confirm your new password")) }}
    {% for error in form.password_conf.errors %}
        <span style="color: red;">{{ error }}<br /></span>
    {% endfor %}
    {{form.submit(class_="btn btn-lg btn-primary btn-block", value="Change password")}}
</form>
{% else %}
<form action="{{ url_for("user.gen_recover_token") }}" class="form-signin" method="post">
    {{ form.hidden_tag() }}
    {{ form.email.label(class_="sr-only") }}
    {{ form.email(class_="form-control", placeholder=_("Your email")) }}
    {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}<br /></span>
    {% endfor %}
    {{form.submit(class_="btn btn-lg btn-primary btn-block", value=_("Get a renew password email"))}}
</form>
{% endif %}
{% endblock %}
